### ignore all WordPress folders ###
/wp-admin
/wp-includes
/wp-content/themes/*
/wp-content/plugins/*
/wp-content/languages
/wp-content/uploads
/wp-content/cache
/wp-content/wflogs
/wp-content/ai1wm-backups
/wp-content/updraft
/wp-content/mu-plugins
/wp-content/*.php
/wp-content/wp-rocket-config
/wp-content/upgrade
/wp-content/w3tc-config
/wp-content/wpo-cache
/wp-content/cimy-user-manager
/wp-content/exports
/wp-content/backups*
/wp-content/gallery
/wp-content/ngg

### ignore all files in root ###
/*.*

### npm e composer ###
node_modules
.cache
/vendor
/wp-content/themes/alura/vendor/
/wp-content/themes/alura/dist/

### ignore log files and databases ###
.devilbox
.phpintel
.htaccess
.DS_Store
*.log
*.sql
*.sqlite
*.zip
*.tgz
*.gz
*.tar
*.tar.gz
**/.git

### files to kee###
!.gitignore
!.github
!README.md
!composer.json
!composer.lock
!runWPbackup.php
!/robots.txt
!/.editorconfig
!wp-content/languages/*
# Theme
!wp-content/themes/alura
!wp-content/themes/alura-intercambios
# Plugins
!wp-content/plugins/al_local_dia_palestra
!wp-content/plugins/al_patrocinadores_palestras
!wp-content/plugins/al_temperatura_palestra
